/* Use your own code or past solution for Great Idea Web Page CSS here! */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
  max-width: 880px;
  margin: 0 auto;
}

.container header {
  display: flex;
  justify-content: space-between;
}

.container header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.container header a {
  color: gray;
  text-decoration: none;
}

.container header img {
  margin-left: 20%;
}

.mid-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-header img {
  padding: 3%;
}

.mid-header div {
  font-size: 70px;
  width: 30%;
  text-align: center;
}

.mid-header button {
  background: white;
  padding: 9px 50px;
  border: 1px solid;
  font-size: 16px;
}

.top-content {
  border-top: 1px solid black;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.top-content div {
  width: 49%;
  padding: 1%;
}

.middle-image {
  display: flex;
  width: 100%;
  padding: 10px;
}

.bottom-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: 1px solid black;
}

.bottom-content div {
  width: 32%;
  padding: 2%;
}

.Contact {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2%;
}

.Contact p {
  margin: 15px 0;
}

footer {
  text-align: center;
  padding: 25px;
}

.BoxGrids {
  display: flex;
}

.servicesheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .container {
    width: 80%; 
  }
  .container header {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
    margin: 1%;
  }

  .container header a {
    padding: 2%;
  }

  .container header img {
    margin-left: 35%;
    margin-right: 35%;
    padding: 2%;
  }

  .mid-header {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
 
  }

  .mid-header img {
    display: none;
}

@media (max-width: 500px) {
  .container {
    width: 50%; 
    margin: 0 10%;
  }

  .container header {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
  }

  #header-nav a {
    border-bottom: 1px gray solid;
    width: 100%;
  }

  .container header img {
    padding: 2%;
    border-bottom: 1px gray solid;

  }

  .container .mid-header {
    justify-content: center;
    align-items: center;
   
  }

  .container .mid-header img {
    display: none;
}

.container 
}
