/* Use your own code or past solution for Great Idea Web Page CSS here! */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation a {
  padding: 2%;
  color: gray;
  text-decoration: none;
  justify-content: space-evenly;
}
.navigation div {
  padding: 2%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  padding: 3%;
}

header div {
  font-size: 70px;
  width: 30%;
  text-align: center;
}

header button {
  background: white;
  padding: 9px 50px;
  border: 1px solid;
  font-size: 16px;
}

hr {
  border: none;
  width: 950px;
  height: 1px;
  color: #333;
  background-color: #333;
}
.none {
  visibility: hidden;
}

.top-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.top-content div {
  width: 49%;
  padding: 1%;
}

.middle-image {
  display: flex;
  margin-left: 475px;
  margin-right: auto;
  padding: 10px;
}

.bottom-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bottom-content div {
  width: 32%;
  padding: 2%;
}

.Contact {
  display: flex;
  flex-direction: column;
  margin-left: 479px;
  margin-right: auto;
  width: 50%;
}

space {
  visibility: hidden;
}

footer {
  text-align: center;
  padding: 25px;
}

.BoxGrids {
  display: flex;
}

.servicesheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  header img {
    display: none;
  }
  nav {
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
}
